# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Reports and screenshots — keep folder, ignore content
reports/screenshots/
reports/*.html
logs/
*.log

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual Environment files
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Allure reports
allure-results/
allure-report/
